body {
  background-color: rgb(43, 43, 43);
  color: rgb(82, 115, 200);
}

.preMatch {
  background-color: rgb(43, 43, 43);
  color: rgb(82, 115, 200);
}

h1 {
  color: rgb(83, 8, 167);
}

.btn:focus,
.btn:active:focus {
  outline: none;
}

.big-btn {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  font-size:400%;
  background-color: rgb(83, 8, 167);
  border: 2px solid rgb(96, 13, 190);
  color: rgb(143, 142, 249);
}

.big-btn:hover {
  color: rgb(180, 179, 244);
}

.small-btn-rt {
  border-radius: 15px;
   margin-right: 20px
}

.small-btn-lf {
  border-radius: 15px;
    margin-right: 10px;
      margin-left: 20px
}

.row {
  font-size: 200%;
}
